# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/API/node_modules
/Front/node_modules
/Front/build

API/node_modules
Front/node_modules
Front/build



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

